name: arg-invoice-parser

services:
  invoice-parser-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: invoice-parser-api
    command: ["uv", "run", "invoice-api", "--host", "${HOST}", "--port", "${PORT}", "--log-level", "${LOG_LEVEL}"]
    ports:
      - "${PORT}:${PORT}"